.sidebar-container {
    -fx-background-color: #3498db;
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

.menu-title {
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 20px 0;
}

.parametros-header {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-alignment: CENTER_LEFT;
}
.parametros-header:hover {
    -fx-background-color: #2980b9;
}

.parametros-header.abierto {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-border-color: #3498db;
    -fx-border-width: 0 0 1 0;
}

.parametros-submenu-container {
    -fx-border-color: white;
    -fx-border-width: 1px;
     -fx-border-radius: 4px;/* Solo borde izquierdo de 3px */
    -fx-background-color:#3498db;
    -fx-padding: 8px 0;
}

.main-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 8px 10px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.main-button:hover {
    -fx-background-color: #2980b9;
}

.main-button.selected {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
}

.sidebar .button:hover {
    -fx-background-color: #2980b9;
}